.navbar > .container .navbar-brand{
	margin-left:0px
}
.navbar-brand{
	line-height: 34px;
	 margin: 33px 0;
	 padding:0;
}
.navbar-static-top, .navbar-fixed-tops{
	position:fixed;
	top:0;
	left:0;
	z-index: 70;
	width: 100%;
	padding: 0;
	margin:0;
}

.navbar-top{
position:absolute;
	top:0;
	left:0;
	z-index: 70;
	width: 100%;
	padding: 0;
	margin:0;
}

.navbar-default{
	background-image:none;
	background-color:#fff;
	box-shadow:none;
	border-bottom: 1px solid;
;
}
.navbar-transparent{
	background-color:transparent;
}

.compressed .navbar-nav > li > a{
	margin: 11px 25px;
	font-family: "Open Sans","Helvetica","Arial";
	text-transform:uppercase;
	letter-spacing:0.8;
	font-size: 0.875em;
	text-rendering: optimizeLegibility;
}
.navbar-brand.compressed {
	margin:16px 0 17px 0;
}
.navbar-top .navbar-nav{
	margin-top:15px;
}
.navbar-nav > li > a{
	line-height:45px;
	margin: 39px 25px;
	padding:0;
}
.navbar-nav > li > a:hover,.navbar-nav > li > a:focus{
	background-color:transparent;
	border-bottom:#fff 2px solid;
}
.navbar-default  .navbar-nav> li > a:hover,.navbar-default .navbar-nav  > li > a:focus{
	background-color:transparent;
	border-bottom:0px;
}
.navbar-transparent .navbar-nav > .active > a{
	background-image:none;
	box-shadow:none;
	background-color:#fff;
	color:#22262e;
}
.navbar-transparent .navbar-nav > li > a{
	color: #fff;
	font-family: "Open Sans","Helvetica","Arial";
	text-transform:uppercase;
	letter-spacing:0.8;
	font-size: 0.875em;
	text-rendering: optimizeLegibility;
}
.navbar-default .navbar-nav > .active > a{
	background-image:none;
	box-shadow:none;
	background-color:#fff;
	color:#22262e;
}
.navbar-nav > li > a{
	color: #909296;
	font-family: 'Montserrat', sans-serif;
	font-weight:bold;
}

.navbar-default .navbar-toggle{
	border:none;
}
.navbar-default .navbar-toggle:hover,.navbar-default .navbar-toggle:active{
	background-color:#fff;
}
.navbar-default .navbar-toggle .icon-bar{
	background-color:#4c5264;
}

.navbar-toggle .icon-bar{
	border-radius: 0px;
	height: 3px;
}
.navbar-transparent .navbar-toggle{
	margin-top: 35px;
}
.navbar-transparent .navbar-toggle .icon-bar{
	background-color:#fff;
}

.navbar-toggle{
	margin-top: 15px;
}

.ha-header {
	height: 140px;
}
.ha-header .navbar-nav > li > a{
	text-align:left
}
.page-header{
	margin: 0px 0 20px;
	border-bottom:0px;
}
.page-header h1, .page-header h2, .page-header h3,.page-header h4 {
	display:inline-block
} 